#navbar {
    background-color: rgb(199, 199, 199);
}

#search {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 300px;
    border-radius: 100px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-align: center;
    color: #4285F4;
    margin-bottom: 20px;
}